# Postgres
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpass
POSTGRES_DB=devdb
POSTGRES_PORT=5432

# Mongo
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_PORT=27017

# MailHog
MAIL_HOST=mailhog
MAIL_PORT=1025

# Frontend
VITE_API_URL=http://localhost:3000
